<ion-header>
    <ion-navbar color="primary">
        <ion-title>Nueva diligencia</ion-title>
        <ion-buttons end>
            <button ion-button (tap)="Cancelar()">
        Cancelar
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-group>
        <ion-item-divider color="primary">Danos un poco de información de lo que necesitas</ion-item-divider>
        <ion-item>
            <ion-label stacked ion-text color="primary">¿Qué tipo de diligencia buscas?</ion-label>
            <ion-select [(ngModel)]="tipo" interface="action-sheet">
                <ion-option value="pago">Realizar un pago</ion-option>
                <ion-option value="domicilio">Transportar objetos</ion-option>
                <ion-option value="otro">Otro</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked ion-text color="primary">Describe tu situación</ion-label>
            <ion-textarea [(ngModel)]="descripcion" placeholder="Cuéntale detalladamente a los demás usuarios que necesitas que hagan por ti."></ion-textarea>
        </ion-item>
        <ion-item padding-bottom>
            <ion-label stacked ion-text color="primary">¿Cuánto estás dispuesto a pagar?</ion-label>
            <ion-input type="number" [(ngModel)]="pago" placeholder="$5000"></ion-input>
        </ion-item>
        <ion-item-divider color="primary">Elige una ubicación</ion-item-divider>
        <ion-item>
            <p text-wrap>Establece una ubicación para reunirte con el usuario que hará tu diligencia.</p>
        </ion-item>
    </ion-item-group>
    <div padding-horizontal text-right>
        <ion-chip *ngIf="ubicacion" ion-chip color="success" (click)="AbrirMapa()">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Editar Ubicación</ion-label>
        </ion-chip>
        <ion-chip *ngIf="!ubicacion" ion-chip color="danger" (click)="AbrirMapa()">
            <ion-icon name="pin"></ion-icon>
            <ion-label>Editar Ubicación</ion-label>
        </ion-chip>
    </div>
    <div padding>
        <button ion-button block round (tap)="Crear()">
            Crear diligencia
        </button>
    </div>
</ion-content>