page-registrar-tipo {
  ion-content {
    background: rgb(39,135,140); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(rgba(39,135,140,1) 0%, rgba(39,135,140,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(rgba(39,135,140,1) 0%, rgba(39,135,140,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
    background: linear-gradient(rgba(39,135,140,1) 0%, rgba(39,135,140,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
