page-registrar-tipo {
    ion-content {
        background: hsl(189, 57%, 18%);
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient(rgb(20, 65, 73) 0%, rgb(20, 65, 73) 55%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(rgb(20, 65, 73) 0%, rgb(20, 65, 73) 55%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(rgb(20, 65, 73) 0%, rgb(20, 65, 73) 55%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}